/*body {
     background-color:black;
}*/

h1 {
    text-align: center;
    color: gold;
    background-color: rgba(41, 78, 240, 0.808);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#starters_image_div {
    text-align: center;
}

#list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#all_pokemon_container {
    text-align: center;
}